body{
  -webkit-user-select: none;
  font-family: "Helvetica";
}

.App {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.socialBounceMenu {
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 50%;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 600px;
  right: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .socialBounceMenu {
    display: flex;
  }
}



@font-face {
  font-family: 'LaBelle';
  src: url('../public/assets/fonts/LaBelleAurore.woff2') format('woff2');
}

@font-face {
  font-family: 'Coolvetica';
  src: url('../public/assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Helvetica';
  src: url('../public/assets/fonts/helvetica-neu.ttf') format('ttf');
}

